body {
  margin: 0;
  font-family: Karla, sans-serif;
  background-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6,
form,
button {
  margin: 0;
  font-family: Inconsolata, sans-serif;
}

input {
  border-style: none;
  border: 1px solid #a3a3a3;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  padding: 0.75rem 1rem;
}

textarea {
  resize: none;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -0.3px;
  padding: 0.5rem 0.75rem;
}

form,
label,
input,
textarea {
  color: rgb(24, 24, 24);
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: 3px solid #562b80;
}

img {
  width: 100%;
}

label {
  font-size: 1.6rem;
  font-weight: 700;
}

button {
  font-size: 1.5rem;
  background-color: #562b80;
  color: rgb(241, 241, 241);
  border-radius: 5px;
  border: none;
  padding: 0.6rem 1.5rem;
}

p {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  word-spacing: 0.25rem;
  line-height: 1.4;
  font-weight: 300;
}

li {
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.6rem 0 2rem;
}

h5 {
  font-weight: 500;
  font-size: 1.4rem;
}

.bar {
  color: white;
  background-color: #562b80;
}

.bar h4 {
  color: #ebebeb;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 1.2rem 0;
}

.entries-ref {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.entry-image {
  object-fit: cover;
  height: 390px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.image-shrink {
  height: 330px;
}

.photo-url {
  margin-bottom: -0.5rem;
}

.textarea-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.save-button-container {
  text-align: right;
  margin-bottom: 2rem;
}

.new-button-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.new-button-container > button {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 0.9rem;
}

.entry-nav {
  padding: 0.5rem;
  border-radius: 5px;
}

.new-entry,
.entry-nav {
  cursor: pointer;
}

.new-entry:hover,
.entry-nav:hover {
  background-color: #6a3b98;
}

.edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  margin-right: 0.5rem;
}

.hidden {
  display: none;
}

.pos-rel {
  position: relative;
}

.pl-0 {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .bar h4 {
    padding: 1rem 0;
  }

  form h2 {
    font-size: 2.5rem;
    padding: 1.5rem 0 2rem;
    font-weight: 500;
  }

  label {
    font-size: 1.25rem;
    font-weight: 600;
  }

  input {
    font-size: 1.4rem;
    padding: 0.75rem 1rem;
    margin-bottom: 2.5rem;
  }
}
