body {
  margin: 0;
  font-family: Karla, sans-serif;
  background-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6,
form,
button {
  margin: 0;
  font-family: Inconsolata, sans-serif;
}

input {
  border-style: none;
  border: 1px solid #a3a3a3;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.75rem 1rem;
}

textarea {
  resize: none;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -0.3px;
  padding: 0.5rem 0.75rem;
}

form,
label,
input,
textarea {
  color: rgb(24, 24, 24);
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: 3px solid #562b80;
}

img {
  width: 100%;
}

label {
  font-size: 1.6rem;
  font-weight: 700;
}

button {
  font-size: 1.5rem;
  background-color: #562b80;
  color: rgb(241, 241, 241);
  border-radius: 5px;
  border: none;
  padding: 0.6rem 1.5rem;
}

p {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  word-spacing: 0.25rem;
  line-height: 1.4;
  font-weight: 300;
}

li {
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0;
  margin-top: 0;
}

h5 {
  font-weight: 500;
  font-size: 1.4rem;
}

.bar {
  color: white;
  background-color: #562b80;
}

.bar h4 {
  color: #ebebeb;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 1.2rem 0;
}

.entries-ref {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.entry-image {
  object-fit: cover;
  height: 390px;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.image-shrink {
  height: 330px;
}

.photo-url {
  margin-bottom: -0.5rem;
}

.textarea-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.save-button-container {
  text-align: right;
  margin-bottom: 2rem;
}

.search-container {
  align-self: center;
  margin-right: 1rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  height: 2.5rem;
  border-color: #dfdfdf;
  box-shadow: none;
  transition: border-color 0.2s linear, box-shadow 0.1s linear 0.1s;
}

.new-button-container {
  display: flex;
  align-items: center;
}

.new-button-container > button {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 0.9rem;
}

.entry-nav {
  padding: 0.5rem;
  border-radius: 5px;
}

.new-entry,
.entry-nav {
  cursor: pointer;
}

.new-entry {
  box-shadow: none;
  transition: box-shadow 0.1s linear 0.1s;
}

.entry-nav:hover {
  background-color: #6a3b98;
}

.edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.2rem;
  box-shadow: none;
  transition: box-shadow 0.1s linear 0.1s;
}

.delete-entry {
  color: rgb(216, 0, 0);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  letter-spacing: -1px;
  cursor: pointer;
}

.confirmation-modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmation-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 25rem;
  height: 10rem;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}

.confirmation-modal > p {
  font-weight: 500;
  letter-spacing: -1px;
  word-spacing: 1px;
}

.cancel {
  color: rgb(32, 32, 32);
  background-color: rgb(194, 194, 194);
}

.confirm {
  color: rgb(242, 242, 242);
  background-color: rgb(230, 0, 0);
}

.cancel:hover,
.confirm:hover {
  filter: brightness(120%);
}

.add {
  min-width: 3rem;
  box-shadow: none;
  transition: box-shadow 0.1s linear 0.1s;
}

.list-view-container {
  margin-left: auto;
}

.card-view-container {
  margin-left: 1rem;
}

.list-view,
.card-view {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}

.search-container:hover,
.edit-icon:hover,
.new-entry:hover,
.add:hover,
.list-view:hover,
.card-view:hover {
  cursor: pointer;
  border: 1px solid rgb(84, 27, 128);
  box-shadow: 2px 2px 3px 0.2px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pl-0 {
  padding-left: 0;
}

.space-between {
  justify-content: space-between;
}

.nowrap {
  flex-wrap: nowrap;
}

.search-box-container {
  min-width: 5rem;
  max-width: 10rem;
  align-self: center;
  margin-left: auto;
  margin-right: 1rem;
  padding-left: 1rem;
}

#entry-search {
  padding: 0;
  font-size: 1rem;
  margin: 0;
  border-color: rgb(84, 27, 128);
  background-color: #fff;
  transition: background-color 0.25s ease-in-out, padding 0.25s ease-in-out;
}

#entry-search:focus {
  outline: 1px solid rgb(84, 27, 128);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 0.25rem;
}

#entry-search:hover {
  cursor: pointer;
  background-color: #fff;
}

.tag-container {
  align-items: center;
  max-width: 100%;
}

.tag {
  margin: 0 0.5rem 0.5rem 0;
  user-select: none;
  padding: 0.2rem 0.5rem;
  background-color: #562b80;
  font-size: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.tag-input {
  position: relative;
  top: -4px;
  margin: 0;
  margin-right: 0.5rem;
  padding: 0.25rem 0.55rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #562b80;
  color: white;
  font-weight: 300;
  min-height: 1.8rem;
}

.tag-input:focus {
  outline: none;
}

.tag-input-container {
  display: flex;
  flex-wrap: wrap;
}

.small-edit {
  width: 1.5rem;
  right: -6px;
}

.del-tag {
  padding-left: 0.5rem;
}

.del-tag:hover {
  cursor: pointer;
}

.vis-hidden {
  visibility: hidden;
}

.of-scroll {
  overflow-y: scroll;
}

.mh-330px {
  max-height: 330px;
}

.mb-1r {
  margin-bottom: 1rem;
}

.mt-1r {
  margin-top: 1rem;
}

.mtb-075r {
  margin: 0.75rem 0;
}

.mw-75pc {
  max-width: 75%;
}

.justify-center {
  justify-content: center;
}

.card-format {
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #562b80;
  min-width: 326px;
  max-width: 406px;
}

.small-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.2rem 0.5rem 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.small-notes {
  font-size: 0.75rem;
  line-height: 1rem;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin: 0 0.5rem;
}

.small-tags {
  margin: 0.25rem 0.5rem;
}

.mini {
  font-size: 0.7rem;
  min-width: 2rem;
  margin: 0;
  margin-right: 0.25rem;
  padding: 0.1rem 0.2rem 0.1rem 0.3rem;
}

.small-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  border: 1px solid #454545;
  margin-bottom: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.mini-span {
  font-size: 0.75rem;
  min-height: 0;
  top: -1px;
}

@media screen and (min-width: 768px) {
  .bar h4 {
    padding: 1rem 0;
  }

  form h2 {
    font-size: 2.5rem;
    padding: 1.5rem 0 2rem;
    font-weight: 500;
  }

  label {
    font-size: 1.25rem;
    font-weight: 600;
  }

  input {
    font-size: 1.4rem;
    padding: 0.75rem 1rem;
    margin-bottom: 2.5rem;
  }
}
